<h1>Apple Tree Farm</h1>
<hr>
<% @crops.each do |crop| %>
  <h3>Crop: <%= crop.crop_name %></h3>
  <h3><%= Chemical.find(crop.chemical_id).name %></h3>
  <%= link_to crop.crop_name, crop_path(crop.id)  %>
<hr>
<% end %>